body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #4a4545;
    color: #fff;
}

header {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.pink-bar {
    height: 3px;
    background-color: #FEB9D6;
}

.about-me-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4a4545;
    padding: 20px;
    box-sizing: border-box;
}

.about-me-container {
    max-width: 1000px;
    width: 100%;
    background-color: #4a4545;
    text-align: center;
}

h3 {
    font-family: 'Georgia', serif;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
}

h2 {
    font-family: 'Georgia', serif;
    font-size: 2.5rem;
    color: #FEB9D6;
    margin-bottom: 50px;
    letter-spacing: 2px;
    text-align: center;
}
.about-me-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.about-me-text, .about-me-skills {
    width: 45%;
    font-size: 23px;
    color: #e7e7e7;
    font-family: 'Georgia', serif;
    text-align: left;
}

p {
    margin: 0;
}

.marrom {
    background-color: #4a4545;
    width: 100%;
    height: 100%;
    
}

@media (max-width: 768px) {
    .about-me-content {
        flex-direction: column;
        align-items: center;
    }

    .about-me-text, .about-me-skills {
        width: 100%;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    nav ul li a {
        font-size: 14px;
    }

    h2 {
        font-size: 16px;
    }

    .about-me-text, .about-me-skills {
        font-size: 14px;
    }
}
